body{font-size: 80%;}
.lessonTop{width: 100%;position: relative;overflow: hidden;}
.lessonTop img{width: 100%;float:left;}
/*.lessonList{width: 100%;position: absolute;bottom:4em;}*/
.lessonList{width: 100%;}
.lessonList .lessonMonth{width: 100%;background: url("../img/lesson/newsHead.png") bottom center no-repeat;background-size: 100%;height: 5em;position: relative;}
.lessonList .lessonMonth.lessonMonth1{background-image: url("../img/lesson/newsHead1.png");}
.lessonList .lessonMonth.lessonMonth2{background-image: url("../img/lesson/newsHead2.png");}
.lessonList .lessonMonth.lessonMonth3{background-image: url("../img/lesson/newsHead3.png");}
.lessonList .lessonMonth.lessonMonth4{background-image: url("../img/lesson/newsHead4.png");}
.lessonList .lessonMonth.lessonMonth5{background-image: url("../img/lesson/newsHead5.png");}
.lessonList .lessonMonth.lessonMonth6{background-image: url("../img/lesson/newsHead6.png");}
.lessonList .lessonMonth.lessonMonth7{background-image: url("../img/lesson/newsHead7.png");}
.lessonList .lessonMonth.lessonMonth8{background-image: url("../img/lesson/newsHead8.png");}
.lessonList .lessonMonth.lessonMonth9{background-image: url("../img/lesson/newsHead9.png");}
.lessonList .lessonMonth.lessonMonth10{background-image: url("../img/lesson/newsHead10.png");}
.lessonList .lessonMonth.lessonMonth11{background-image: url("../img/lesson/newsHead11.png");}
.lessonList .lessonMonth.lessonMonth12{background-image: url("../img/lesson/newsHead12.png");}
.lessonList .lessonMonth .number{display: table;width: 10%;position: absolute;left:24%;background: none;width: 10%;height: 100%;}
.lessonList .lessonMonth .number .numerBack{display: table-cell;vertical-align: middle;width: 100%;height: 100%;}
.lessonList .lessonMonth .number .numerBack img{width: 54%;float: left;margin: 0px -1.5px;padding-top: 0.3em;}
.lessonList .newsBlock{width: 100%;}
.lessonList .newsBlock .newsHead{width: 100%;position: relative;}
.lessonList .newsBlock .newsHead .star{width: 20%;position: absolute;top:1em;right:1em;height: 6em;background-size: 100%;display: block;background-repeat: no-repeat;}
.lessonList .newsBlock .newsHead .star.living{background-image: url("../img/lesson/living.png")}
.lessonList .newsBlock .newsHead .star.end{background-image: url("../img/lesson/end.png")}
.lessonList .newsBlock .newsHead .star.reg{background-image: url("../img/lesson/registration.png")}
.lessonList .newsBlock .newsHead img{width: 100%;}
.lessonList .newsBlock .newsHead p{width: 100%;position: absolute;bottom: 0;display:block;background: rgba(254,220,98,0.5);color:#000000;font-size: 1.5em;line-height: 2em;height: 2em;text-indent:1em;}
.lessonList .newsBlock .newsHead p a{color:#000000;}
.lessonList .newsContent{width: 100%;background: url("../img/lesson/newsbg.png") left top no-repeat;background-size: 10%;padding:1em 0;}
.lessonList .newsContent p{width: 100%;display:block;color:#703900;font-size: 1.2em;line-height: 2em;height: 2em;}
.lessonList .newsContent p.newsBorder{font-weight: bold;}
.lessonList .newsContent p i.yellow{color:#fedc62;font-weight: bold;}
.lessonList .newsContent p i.dateIcon{padding-left:1.3em;background: url("../images/bany/date_icon.png")center center no-repeat;background-size: 1.2em;}
.lessonList .newsContent p i.babyIcon{padding-left:1.3em;background: url("../img/lesson/baby_icon.png")center center no-repeat;background-size: 1.2em;}
.lessonList .newsContent p i.likeIcon{padding-left:1.3em;background: url("../images/bany/icon_02.png")center center no-repeat;background-size: 1.2em;}
.lessonList .newsContent .likeIcon1{height:13px; padding-left:1.3em;background-size: 1.2em;}
.fixedMenu{height: 4em;line-height: 4em;background: #fedc61;width: 100%;position: fixed;bottom: 0;}
.fixedMenu a{width: 33.33%;float: left;height: 4em;background: url("../img/lesson/buttonMenu1.png") center center no-repeat;background-size: 2.5em;}
.fixedMenu a.lesson{background-image: url("../images/bany/buttonMenu1.png")}
.fixedMenu a.lesson.current{background-image: url("../images/bany/buttonMenu1_c.png")}
.fixedMenu a.discovery{background-image: url("../images/bany/buttonMenu2.png");}
.fixedMenu a.discovery.current{background-image: url("../images/bany/buttonMenu2_c.png")}
.fixedMenu a.mine{background-image: url("../images/bany/buttonMenu3.png")}
.fixedMenu a.mine.current{background-image: url("../images/bany/buttonMenu3_c.png")}


#scroller{position: absolute;top:0px;}
/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    width:50%;
    margin: auto;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block;
    float:left;
    width:30px; height:30px;
    background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:30px 60px;
    background-size:30px 60px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    margin-top: 4px;
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.common-list,.common-list-scroller {width: 100%;position: absolute;top:0px;}
.common-list{height: 100%;overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
}
.lessonListInner{position:absolute;height:100%;width:100%;bottom:4em;top:0;overflow: hidden;}

.mineTop{
    width: 33.33%;
    height: 100%;
    top: 0;
    position: absolute;
    display: table;
}
.mineTime.mineTop{
    left:33.33%;
}
.mineRank.mineTop{
    left:66.66%;
}
.mineTop .keepcenter{
    max-width:45%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
    margin: auto;
}
.clear{display:block;width:0;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.mineTop .keepcenter img{max-width: 17%;margin:0 -1%}
.myLessonLine{width: 100%;position: relative;margin-bottom: 0.5em;}
.myLessonLine .myLessonCover{width: 40%;float: left;}
.myLessonLine .myLessonInfo{width: 58%;float: left;margin-left:2%;}
.myLessonLine .myLessonInfo .myLessonTitle{width: 100%;height: 4em;line-height: 1.5em;color:#000;font-size: 120%;font-weight: bold;display: block;}
.myLessonLine .myLessonInfo .myLessonTime{width: 100%;height: 2em;line-height: 2em;color:#000;font-size: 100%;}
.myLessonLine .myLessonInfo .myLessonTime span.dateIcon{padding-left:1.4em;background: url("../img/lesson/date_icon.png")center center no-repeat;background-size: 1.4em;}
.myLessonLine .baoming{position:absolute;width: 17%;background: url("../img/lesson/baoming.png") center center no-repeat;left:2%;bottom:5%;background-size: 100%;height: 2em;}
.myLessonLine .baoming1{background-image: url("../img/lesson/baoming.png")}
.myLessonLine .baoming2{background-image: url("../img/lesson/baoming2.png")}
.myLessonLine .baoming3{background-image: url("../img/lesson/baoming3.png")}

@media screen and (max-width: 320px) {
    .myLessonLine .myLessonCover{width: 30%;}
    .myLessonLine .myLessonInfo{width: 68%;float: left;margin-left:2%;}
    .myLessonLine .myLessonInfo .myLessonTitle{width: 100%;height: 3em;line-height: 1.3em;color:#000;font-size: 120%;font-weight: bold;}
    .myLessonLine .myLessonInfo .myLessonTime{width: 100%;height: 2em;line-height: 2em;color:#000;font-size: 80%;}
    .lessonList .newsContent p{font-size: 80%;}
}

.lessonLineTypeOne {position: relative;margin-bottom: 1em;
    background: #fff;float: left;width: 100%}
.lessonLineTypeOne .newsCover{width: 30%;margin: 1.5%;  display: table;  float: left;  vertical-align: middle;  text-align: center;}
.lessonLineTypeOne .newsCover img{height: 8em;
    width: initial;
    display: inline;
    vertical-align: middle;
    text-align: center;
    float: none;}
.lessonLineTypeOne .newsCover .play_btn {width:30%; height:79%; margin: 1.5%; position: absolute; top:0; left:0; background: url(../img/lesson/play_btn.png) no-repeat; background-size: 100% 100%; display: inline; }
.lessonLineTypeOne .newsContent{width:50%;margin-left:33%;}
.lessonLineTypeOne .newsContent h4,
.lessonLineTypeOne .newsContent p{width:100%;font-size: 1em;color:#171717;}
.lessonLineTypeOne .newsContent h4{font-size: 1.2em;}
.lessonLineTypeOne .newsContent h4 a{color:#171717;}
.lessonLineTypeOne .newsContent p span{
    width: 100%;
    display: block;
    overflow: hidden;
    height: 1.5em;
    line-height: 1.5em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}

.lessonList{background: #ffeeb4;}

.lessonLineTypeOne .newsContent p.doctor{background: url("../images/bany/icon_01.png") left top no-repeat;height: inherit;line-height: inherit;background-size: 1.3em;}
.lessonLineTypeOne .newsContent p.doctor span{text-indent: 2em;line-height: 1.2em;height:1.2em;
    float: none;display:inline-block;}
.lessonList .newsContent p i{margin-right: 0.5em;}
.lessonList .newsContent .functionBTN{width:19.5%;height: 3em;background: url("../images/bany/reg_review.png") center center no-repeat;background-size: 100%;display: block;position: absolute;bottom:2%;right:1%;}
.lessonList .newsContent .functionBTN.regstart{background-image: url("../images/bany/reg_start.png")}
.lessonList .newsContent .functionBTN.regend{background-image: url("../images/bany/reg_end.png")}
.lessonList .newsContent .functionBTN.regreview{background-image: url("../images/bany/reg_review.png")}
.lessonList .newsContent .functionBTN.regreview2{background-image: url("../images/bany/reg_review2.png")}
.lessonList .newsContent .functionBTN.regwait{background-image: url("../images/bany/reg_wait.png")}
.lessonList .newsContent .functionBTN.regplaying{background-image: url("../images/bany/reg_playing.png")}
.lookout{width: 100%;}
.lookout img{width: 100%;}
.lookout .qr{width: 36%;margin:auto;}
.lastLesson{margin:0.5em 0; line-height:22px;}
.lastLesson .item{margin: 0px 4%; padding-left:0.8em; background:url(../img/ico_item.png?sdsadff) no-repeat 0px 8px;font-size:14px; color:#333; }




.lessonScroller{position: relative;}
.myLessonTop img{float: none; display: block;}
.footerLine{width: 100%;height: 4em;}
.lessonUserTop{position: relative;}
.lessonUserTop img{width: 100%;float: left;}
.lessonUserTop .userPhoto{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -3.5em;
}
.lessonUserTop .userName{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    bottom: 5%;
    color:#241c00;
    font-weight: bold;
    margin: 0;
}
.mineTop .keepcenter img{
    margin: 0 -2%;
    height: 2em;
    width: initial;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 0;
}
.lesson_list{}
@media screen and (min-width: 320px) {
    .lessonLineTypeOne .newsContent{width:57%;margin-left:38%;}
    .mineTop .keepcenter img{margin: 0 -3%;}
    .lessonUserTop .userPhoto{
        width: 6em;
        height: 6em;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -3em;
    }
}
@media screen and (min-width: 360px) {
    .lessonLineTypeOne .newsContent{width:57%;margin-left:35%;}
    .lessonUserTop .userPhoto{
        width: 6em;
        height: 6em;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -3em;
    }
    .mineTop .keepcenter img{margin: 0 -2%;}
}
@media screen and (min-width: 380px) {
    .lessonUserTop .userPhoto{
        width: 7em;
        height: 7em;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -3.5em;
    }
}

/*鍐欐閮ㄥ垎css*/
.tips{width:100%; height:100%; background:#e5e5e5; color:#b78b31; font-size:2.0em; text-align:center;}
.newsContent .voice{ width:19%; height:20%; position:absolute; top:76%; left:61%; background:#FFF; border-radius:5px; overflow:hidden; }
.newsContent .voice .circle_1{ width:6%; height:0%; position:absolute; bottom:10%; left:60%; background: #fedc62; }
.newsContent .voice .circle_2{ width:6%; height:0%; position:absolute; bottom:10%; left:70%; background: #fedc62; }
.newsContent .voice .circle_3{ width:6%; height:0%; position:absolute; bottom:10%; left:80%; background: #fedc62; }
.newsContent .voice .circle_4{ width:6%; height:0%; position:absolute; bottom:10%; left:90%; background: #fedc62; }

.circle_4_animation{-webkit-animation-name:c_4;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
}
.circle_3_animation{-webkit-animation-name:c_3;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
}
.circle_2_animation{-webkit-animation-name:c_2;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
}
.circle_1_animation{-webkit-animation-name:c_1;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
}

@keyframes c_1
{
    0% {height: 80%;}
    25% {height: 50%;}
    50% {height: 20%;}
    90% {height: 50%;}
    100% {height: 80%;}
}
@-webkit-keyframes c_1
{
    0% {height: 80%;}
    25% {height: 50%;}
    50% {height: 20%;}
    90% {height: 50%;}
    100% {height: 80%;}
}

@keyframes c_2
{
    0% {height: 50%;}
    25% {height: 80%;}
    50% {height: 20%;}
    90% {height: 50%;}
    100% {height: 80%;}
}
@-webkit-keyframes c_2
{
    0% {height: 50%;}
    25% {height: 80%;}
    50% {height: 20%;}
    90% {height: 50%;}
    100% {height: 80%;}
}

@keyframes c_3
{
    0% {height: 20%;}
    25% {height: 50%;}
    50% {height: 80%;}
    90% {height: 50%;}
    100% {height: 20%;}
}
@-webkit-keyframes c_3
{
    0% {height: 20%;}
    25% {height: 50%;}
    50% {height: 80%;}
    90% {height: 50%;}
    100% {height: 20%;}
}
@keyframes c_4
{
    0% {height: 0%;}
    25% {height: 20%;}
    50% {height: 50%;}
    90% {height: 80%;}
    100% {height: 0%;}
}
@-webkit-keyframes c_4
{
    0% {height: 0%;}
    25% {height: 20%;}
    50% {height: 50%;}
    90% {height: 80%;}
    100% {height: 0%;}
}

.ds-n{display: none;}

.nomore{background: #fff;}
.nomore p{color:#6a3002;width: 100%;text-align: center; margin-top: 3em; line-height: 4em;}
.nomore a{width: 40%;display: block;float: left;margin-left:30%;}
.nomore a img{width: 100%;display: block;float: left;}


.searchBlock{background: #fff;width: 100%;}
.searchBlock .searchHead{padding-top: 1em;}
.searchBlock .searchHead .searchIcon{width: 10%;height:2em;float: left;display: block;background: url("../images/bany/searchIcon.png") no-repeat center center;background-size: 100%;margin:0.3em 5%;}
.searchBlock .searchHead .searchInput{width: 58%;float: left;background: #fef078;border-radius: 1em;height: 2.6em;position: relative;}
.searchBlock .searchHead .searchInput span{width: 2.6em;height: 2.6em;display: block;background: url("../images/bany/searchIcon2.png") no-repeat center center;background-size: 100%;float: left;}
.searchBlock .searchHead .searchInput input{width: 77%;height: 2.6em;display: block;}
.searchBlock .searchTips{width: 75%;float: left;margin-left:20%;margin-top: 0.5em;}
.searchBlock .searchTips a{white-space: nowrap;padding:0.2em 1em;border: 1px solid #757575;border-radius: 2em;line-height: 2em;background: #fdfcf2;color:#323232;}
.subtitles{background: url("../images/bany/category_title.png") left center no-repeat #fedc62;background-size: auto 100%;position: relative;height: 2em;margin-top: 1em;}
.subtitles a{color:#814607;line-height: 2.3em;position: absolute;top:0;right:1em;}
.category_result{background: url("../images/bany/category_result.png") bottom center no-repeat #fff;background-size: 100%;position: relative;height: 2em;margin-top: 1em;width: 100%;text-align: center;color:#707070;}

.searchBlock .searchHead .searchIcon.empty{background: none;width: 5%;margin: 0 2%;}
.searchBlock .searchBtn{background: #ffad00;padding:0.5em 1em;color:#fff;border-radius: 1em;margin-top: 0.3em;margin-left: 1em;display: inline-block;}
.searchBlock .searchHead .searchInput .searchResoures{position: absolute;left:15%;background: #fffef5;border-radius: 5px;top:0.3em;left:2.6em;padding:0.5em 1em;padding-right:2em;}
.searchBlock .searchHead .searchInput .searchResoures a{width: 1em;height:100%;display: block;position: absolute;right:0.5em;background: url("../images/bany/searchClose.png") center center no-repeat;background-size: 100%;top:0;}

.searching .lessonTop{height: 0;overflow: hidden;transition: height 0.5s;overflow: hidden; }
.searching .subtitles{display: none;}
.searching .lessonList{display: none;}
.searchBlock .searchHead .searchIcon.back{background: url("../images/bany/category_back.png") no-repeat center center;height: 2.6em;width: 7%;margin: 0 2%;background-size: 100%;}
.categoryList{width: 100%;border-top: 1px solid #fef181;margin-top: 1em;position: absolute; top: 4em;bottom: 4em; overflow: hidden;}
.categoryList .leftpart{width: 20.66%;background: #e7e7e7;color:#323131;height: 100%;float: left;}
.categoryList .leftpart a{width: 100%;height: 3em;line-height: 3em;color:#323131;text-align: center;display: block;}
.categoryList .leftpart a.current{background: url("../images/bany/category_current.png") no-repeat left center #fff;background-size: auto 100%;}
.categoryList .rightpart{width: 79.34%;background: #fff;color:#323131;height: 100%;float: left;overflow: auto;}
.categoryList .rightpart .rightpartMain{margin-left:1em;}
.categoryList .rightpart .rightpartMain h4{line-height: 3em;height: 3em;color:#fb9a00;clear: both;}
.categoryList .rightpart .rightpartMain a{
    white-space: nowrap;
    padding: 0 0.5em;
    border: 1px solid #f1cb94;
    border-radius: 2em;
    line-height: 2em;
    background: #fdfcf2;
    color: #323232;
    float: left;
    margin: 0 0.5em 0.5em 0;}

.scroll_img a{width: 100%;position: relative;float: left;}
.scroll_img a.current{display: block;}
.scroll_img img{width: 100%;}
